# EditorConfig is awesome: http://EditorConfig.org
# Sample (and default) .editorconfig file for projects

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[*.md,*.mdx,*.markdown]
trim_trailing_whitespace = false

[Makefile]
indent_size = 1
indent_style = tab
